<template name="loading">
  <div class="ui fluid container">
    <div class="ui centered stackable grid">
      <div class="six wide column">
        <div class="loading-page">
          <div class="ui icon info message">
            <i class="notched circle loading icon"></i>
            <div class="content">
              <div class="header">
                Just one second
              </div>
              <p class="loading-message">
                Fetching that content for you from
                <a href="https://gist.github.com/{{gistSource}}">Github</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="error">
  <div class="ui fluid container">
    <div class="ui centered stackable grid">
      <div class="six wide column">
        <div class="loading-page">
          <div class="ui icon error message">
            <i class="minus circle icon"></i>
            <div class="content">
              <div class="header">
                An error occurred!
              </div>
              <p class="loading-message">
                Failed to load dTree data from
                <a  href="https://gist.github.com/{{gistSource}}">Github</a>
              </p>
              <p class="loading-message">Check that this is the correct source and that the data is in the <a href="/">right format</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
