<template name="create">
  {{> header}}
  <div class="row">
    <div class="eight wide column">
      {{#autoForm collection="Trees" id="addTreeForm" type="insert"}}
        {{> afQuickField name='name'}}
        {{> afQuickField name='description' rows=5}}
        {{> afQuickField name='stylesheet' rows=5}}
        {{> afQuickField name='data' rows=10}}
        <button type="submit" class="ui green button">Create</button>
      {{/autoForm}}
    </div>
  </div>
</template>

<template name="editor">
  {{#autoForm collection="Trees" doc=this id="addTreeForm" type="update"}}
    {{> afQuickField name='name'}}
    {{> afQuickField name='description' rows=5}}
    {{> afQuickField name='stylesheet' rows=5}}
    {{> afQuickField name='data' rows=10}}
    <button type="submit" class="ui green button">Update</button>
  {{/autoForm}}
</template>
