<template name="viewer">
  <div class="row" style="padding-top:3em;">
    <div class="seven wide column">
    <span class="graph-title">{{name}}</span><span class="owner-title">{{author}}</span>
    </div>
    <div class="right aligned three wide
     column">
      <div style="font-size:1.5em">
        <a href="#" id="shareButton"><i class="share icon"></i></a>
        {{#if editKey}}
        <a href="{{pathFor 'tree.editor' key=editKey}}"><i class="edit icon"></i></a>
        {{/if}}
        <a href="{{pathFor 'tree.view.fullscreen'}}"><i class="expand icon"></i></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="fifteen wide column">
      <style id="graph-style">
      {{{stylesheet}}}
      </style>
      <div id="graph"></div>
    </div>
  </div>
  <div class="row">
    <div class="ten wide column">
      <div>
        {{{compiledDescription}}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="five wide column">
      <h5>Stylesheet</h5>
      <pre>{{{hlStyle}}}</pre>
    </div>
    <div class="five wide column">
      <h5>Data</h5>
      <pre>{{{hlData}}}</pre>
    </div>
  </div>

  <div id="sharemodal" class="ui small modal">
    <div class="header">Share {{name}}</div>
    <div class="content">
      <div class="ui form">
        <div class="field">
          <label>Read-only link</label>
          <input type="text" readonly value="{{urlFor 'tree.view.guest'}}">
        </div>
        {{#if editKey}}
        <div class="field">
          <label>Editing link</label>
          <input type="text" readonly value="{{urlFor 'tree.view.owner' key=editKey}}">
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>

<template name="fullscreenViewer">
  <style id="graph-style">
  {{{stylesheet}}}
  </style>
  <div id="fullscreen-graph"></div>
</template>
